<h1>Resto: <%= @restaurant.name %></h1>
<ul>
  <li>address: <%= @restaurant.address %></li>
  <li>category: <%= @restaurant.category %></li>
</ul>
<%if @restaurant.price.nil?%>
  <%= puts @restaurant.price, class: 'display-none' %>
<%else%>
  <%=puts price: @restaurant.price %>
<%end %>


<%= link_to 'back to restaurants list', restaurants_path%>
