<h1>Resto: <%= @restaurant.name %></h1>
<ul>
  <li>address: <%= @restaurant.address %></li>
  <li>category: <%= @restaurant.category %></li>
</ul>
<%=@restaurant.price = nil ? 'No price' : "Price: #{@restaurant.price}" %> <br>
<%=@restaurant.website = nil ? 'No web site' : "site web : #{@restaurant.website}"%> <br>
<button></button>





<%= link_to 'Back to restaurants list', restaurants_path%> <br>
<%= link_to 'Edit the restaurant ', edit_restaurant_path%> <br>
<%= link_to 'Destroy the restaurant',data: {:confirm => 'Are you sure?'}, :method => :delete %>
<%#= link_to 'Delete restaurant', @restaurant, method: :delete, data: { confirm: 'Are you sure?' } %>
